.card {
    background-color: #26558B;
}

.ce-spun-studentii
{
    font: 'Montserrat';
    font-weight: bold;
    color: white;
}

.board {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}


.echipa1 
{
    background-color: #323231;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 0 0 50px 50px;
    border-top: none;
    width: 350px;
    height: 185px;
    font-size: 50px;
}

.puncteRunda
{
    background-color: #323231;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 0 0 50px 50px;
    border-top: none;
    width: 300px;
    height: 155px;
    font-size: 60px;
    padding-top: 20px;

}


.echipa2
{
    background-color: #323231;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 0 0 50px 50px;
    border-top: none;
    width: 350px;
    height: 185px;
    font-size: 50px;    
}

.intrebare
{
    background-color: #323231;
    width: 1500px;
    height: 125px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    font-size: 50px;

}

.tablaRaspunsuri {
    background-color: #991a1a;
    width: 1500px;
    height: 635px;
    border: 5px solid white; /* Combined border shorthand */
    border-radius: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.coloana1
{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
}

.coloana2
{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
}

.tablaRaspunsuri .raspunsuri {
    margin: auto;
    width: 700px;
    height: 125px;
    border: 5px solid white;
    border-radius: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: rgb(50,50,49);
    background: linear-gradient(180deg, rgba(50,50,49,1) 0%, rgba(50,50,49,1) 80%, rgba(153,26,26,1) 100%);
    
}

.soto1 {
    background: url("src/static/background.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
  }
  