.card {
    background-color: #26558B;
}

.ce-spun-studentii
{
    font-family: 'Montserrat', sans-serif;

    font-weight: bold;
    color: white;
}

.board {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.board-flash {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
}

.echipa1 
{
    background-color: #323231;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 0 0 50px 50px;
    border-top: none;
    width: 350px;
    height: 185px;
    font-size: 46px;
}

.puncteRunda
{
    background-color: #323231;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 0 0 50px 50px;
    border-top: none;
    width: 300px;
    height: 155px;
    font-size: 60px;
    padding-top: 20px;

}


.echipa2
{
    background-color: #323231;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 0 0 50px 50px;
    border-top: none;
    width: 350px;
    height: 185px;
    font-size: 46px;
}

.timer{
    background-color: #323231;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 50%;
    margin-top: 2rem;
    height: 150px;
    width: 150px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intrebare
{
    background-color: #323231;
    width: 1500px;
    height: 125px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    font-size: 42px;

}

.tablaRaspunsuri {
    background-color: #991a1a;
    width: 1500px;
    height: 635px;
    border: 5px solid white; 
    border-radius: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.tablaRaspunsuri-flash {
    background-color: #991a1a;
    width: 845px;
    height: 687px;
    border: 5px solid white; 
    border-radius: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.coloana1
{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
}

.coloana2
{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
}

.tablaRaspunsuri .raspunsuri {
    margin: auto;
    width: 700px;
    height: 125px;
    border: 5px solid white;
    border-radius: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: rgb(50,50,49);
    background: linear-gradient(180deg, rgba(50,50,49,1) 0%, rgba(50,50,49,1) 80%, rgba(153,26,26,1) 100%);
    
}

.tablaRaspunsuri-flash .raspunsuri {
    margin: auto;
    width: 574px;
    height: 102px;
    border: 5px solid white;
    border-radius: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: rgb(50,50,49);
    background: linear-gradient(180deg, rgba(50,50,49,1) 0%, rgba(50,50,49,1) 80%, rgba(153,26,26,1) 100%);
    
}

.ce-spun-studentii {
    background: url("../background.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
  }
  

.puncteRunda-flash{
    background-color: #323231;
    width: 429px;
    height: 124px;
    margin-top: 20px;
    display: flex;
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    

}